.app{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:40px 24px;
  background-color: #b2e0df;
  height:890px;
  font-family: 'Poppins', sans-serif;

  
}
.app__searchform{
  margin-top: 18px;
  padding: 10px;

}
.app__submit{
  padding: 5px 5px;
  margin-left: 10px;
  border-radius: 5px;
  border:2px solid #b2e0df;
  width: 80px;
  position: relative;
  top: 40px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.app__submit:hover{
  background-color: #b2e0df;


}
.recipe_image{
  padding: 10px;
  height: 200px;
  width: 200px;
  padding-left: 90px;
  
}
.mainrecipe{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.recipe_name{
  text-align: center;
  padding: 10px;
  font-weight: bold;
  padding-top: 90px;
  width:400px;
  padding-right:20% ;
}
.search-container{
  background: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  /*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  inset -7px -7px 10px 0px rgba(0,0,0,.1),
 7px 7px 20px 0px rgba(0,0,0,.1),
 4px 4px 5px 0px rgba(0,0,0,.1);
 text-shadow:  0px 0px 6px rgba(255,255,255,.3),
            -4px -4px 6px rgba(116, 125, 136, .2);
text-shadow: 2px 2px 3px rgba(255,255,255,0.5);*/
box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
            -4px -4px 6px 0 rgba(116, 125, 136, .2), 
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover > .search-input{
  width: 400px;
}

.search-container .search-input{
  background: transparent;
  border: none;
  outline:none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;

}

.search-container .search-btn .fas{
  color: #5cbdbb;
}

@keyframes hoverShake {
0% {transform: skew(0deg,0deg);}
25% {transform: skew(5deg, 5deg);}
75% {transform: skew(-5deg, -5deg);}
100% {transform: skew(0deg,0deg);}
}

.search-container:hover{
animation: hoverShake 0.15s linear 3;
}
.btn1{
  padding:10px;
  border-radius: 20px;
  border:2px solid #b2e0df;
  position: relative;
  background: rgba( 255, 255, 255, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  left:70px;
  margin:10px;

}
.btn1:hover{
  background-color: #b2e0df;

}
.recipeTile{
  
  border: 5px solid gray;

  margin: 50px;
  width:400px;
  height: 520px;

}